<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Help"
        tools:targetApi="31">
        <activity
            android:name=".CrudResepsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".AdminCrudDokterActivity"/>-->
<!--        <activity android:name=".CrudPasienActivity"-->
<!--            android:theme="@style/Theme.Material3.Light"/>-->
        <activity android:name=".CrudRekamActivity"/>
<!--        <activity android:name=".CrudResepsActivity"/>-->
        <activity android:name=".AdminDashboardActivity"/>
        <activity android:name=".AdminProfilActivity"/>
        <activity android:name=".ResepsDashboardActivity"/>
        <activity android:name=".ResepsCrudPasienActivity"/>
        <activity android:name=".ResepsHistoryRekamActivity"/>
        <activity android:name=".ResepsProfilActivity"/>
    </application>

</manifest>